<h3 id="fox-title-<%= fox.id %>"><%= fox.name %></h3>
<p><%= fox.name %> is a <%= fox.color %> fox.
  <ul>
    <li class="color-change"><a href="/foxes/<%= fox.id %>">Color morph!</a></li>
    <li class="view-fox"><a href="/foxes/<%= fox.id %>">View</a></li>
    <li class="edit-fox"><a href="/foxes/<%= fox.id %>/edit">Edit</a></li>
    <li>
    <form action="/foxes/<%= fox.id %>" method="POST" class="delete-fox">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="DELETE!">
    </form>
  </li>
  </ul>
</p>
