<% @foxes.each do |fox| %>
  <h3><%= fox.name %></h3>
  <p><%= fox.name %> is a <%= fox.color %> fox.
    <ul>
      <li><a href="/foxes/<%= fox.id %>">View</a></li>
      <li><a href="/foxes/<%= fox.id %>/edit">Edit</a></li>
    </ul>
  </p>
  <a href="/foxes/<%= fox.id %>/edit">Edit</a>
<% end %>
